header {
    background-color: #042b08;
    color: #fff;



}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    max-height: 100px;

}

nav ul {
    list-style: none;

}

nav ul li {
    display: inline-flex;
    margin-right: 10px;
    padding: 10px 40px;

}


nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
nav ul li a:hover{
    color: #84ec8f;
}
select{
    background-color: #042b08;
    border-radius: 5px 5px;
    color: white;
    border: none;
}

.home {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 70px;
    padding-left: 150px;
}

.home-img img {
    max-width: 100%;
    width: 999px;
    height: auto;
    padding: 100px;
    padding-left: 100px;
    padding-right: 50px;
}

.home-text h1 {
    font-size: 50px;
    
}
 span{
    color: #0c6215;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
   border-radius: 0.5rem;
   background-color: #0c6215;
   color: white;
   transition: .3s;

}

.btn:hover{
    color:#042b08;
    background-color: rgb(120, 239, 159);
}

.container{
    display: flex;
    position: relative;
    
}

.card{
    /* padding: 20px; */
    margin-left: 100px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-top: 70px;
    transition: .3s;
   
}
.card:hover{
    border-color: #042b08;
    background-color: #84ec8f;
    transform: scale(1.2);
}

.account{
    align-items: center;
    display: flex;
    
   
}
input{
    border-color: #0c6215;
}
.register{
    margin: 30%;
    
}

.register form{
    border: 1px solid #84ec8f;
    background-color: antiquewhite;
    padding: 40px;
}

.account  a{
    text-decoration: none;
    color: white;
}